body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Saint-Carell';
  src: url('/public/fonts/SaintCarellClean_PERSONAL_USE_ONLY.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heavitas';
  src: url('/public/fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis-George';
  src: url('/public/fonts/Louis\ George\ Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis-George-Bold';
  src: url('/public/fonts/Louis\ George\ Cafe\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}